@media screen and (min-width: 768px) {
	body {
		height: 95vh;
	}
	#developer{
		width: 30%;
		left: 70%;
	}
}
@media screen and (min-width: 992px) {
	body {
		height: 95vh;
	}
	#developer{
		top: 90%;
	}
}